$main-bg-color: #1a1a1a;
$main-font-color: white;
$light-white: #eee;
$light-black: #111;
$light-yellow: rgb(243, 168, 47);
$container-width: 768px;
$font-body-stack: Arial, Helvetica, sans-serif;
$font-heading-stack: Impact, Charcoal, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  background-image: url(./../img/bg.jpg);
}
.container {
  max-width: $container-width;
  margin: 2rem auto;
  border: 5px solid $light-yellow;
  border-radius: 10px;
  overflow: hidden;
}
.hangman {
  padding: 20px;
  height: 680px;
  background-color: $main-bg-color;
  display: grid;
  place-content: center;
}
.hangman__stats {
  color: $light-yellow;
  font-family: $font-body-stack;
  font-size: 18px;
}
.hangman__title {
  font-family: $font-heading-stack;
  text-transform: uppercase;
  text-align: center;
  color: $light-yellow;
  font-size: 3rem;
}
.hangman__board {
  border: 2px dashed white;
  padding: 2px;
  display: block;
  margin: 0 auto;
}
.hangman__word {
  color: $main-font-color;
  font-size: 2.4rem;
  text-align: center;
  margin: 1.5rem 0;
  letter-spacing: 0.6rem;
}
.hangman__instructions {
  font-family: $font-heading-stack;
  text-align: center;
  color: $light-yellow;
  font-style: italic;
}
.hangman__letters {
  list-style-type: none;
  color: main-font-color;
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.hangman__letter {
  text-transform: uppercase;
  font-family: $font-body-stack;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  margin: 1rem 1px 0 1px;
  background: $light-white;
  color: $light-black;
  border: 3px solid $main-bg-color;
  font-size: 1.2rem;
}
.hangman__letter--active {
  background-color: #555;
}
.hangman__letter:hover {
  cursor: default;
  border: 3px solid $light-yellow;
}
.button {
  display: block;
  margin: 1rem auto;
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  background: $light-yellow;
  cursor: pointer;
  border: 0;
  font-weight: 500;
  color: $main-font-color;
  border-radius: 5px;
  &:hover {
    animation-name: headShake;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 10px rgb(255, 170, 0);
  }
}
.home {
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home img {
  width: 100%;
  height: auto;
}
/* How to play screen */
.how {
  line-height: 1.7;
  padding: 1rem 1.8rem;
  font-family: $font-body-stack;
  color: $light-white;
  text-align: left;
}
.how li::marker {
  font-size: 25px;
  color: green;
}
.how li span {
  color: $light-yellow;
}
/* end screen */
.result {
  padding: 1rem 0;
  font-family: $font-body-stack;
  font-size: 1.2rem;
  color: $light-white;
  text-align: center;
}

.hangman__hint {
  margin-top: 5px;
  background: transparent;
  outline: none;
  border: 0;
  font-size: 16px;
  color: $main-font-color;
  cursor: pointer;
}
.hangman__puzzle {
  display: inline-block;
  color: $light-yellow;
  padding: 2px;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
